* {
  margin: 0;
  padding: 0;
}

.App {
  border: 1px solid whitesmoke;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 614.4px;
  /* margin: 5vh 0 5vh 0; */
  background-color: whitesmoke;
  border-radius: 15px;
  padding-bottom: 5vh;
}

.timeDisplay {
  border-radius: 10px;
  box-shadow: 4px 4px 0.4em rgb(164, 164, 233), -4px -4px 0.4em rgb(164, 164, 233);
  margin: 5vh 0 5vh 0;
  height: auto;
  width: 460.8px;
  text-align: center;
  padding: 10px;
}

.timeDisplay p {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 1.5px;
  margin: 4vh 0;
}


button {
  color: white;
  padding: 10px;
  font-weight: bolder;
  border: 0;
  border-radius: 5px;
  margin: 2vh 2vw 2vh 0;
  box-shadow: 0 4px 0.4em rgb(129, 129, 129);
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0.4em rgb(33, 33, 33);
}

.Pause {
  background-color: rgb(85, 0, 255);
}

.Start {
  background-color: rgb(187, 0, 255);
}

.Reset {
  background-color: rgb(255, 0, 0);
}

.Cast {
  background-color: rgb(106, 255, 106);
}

h2 {
  margin: 1vh 0;

}

.castSection {
  border: 1px solid black;
  height: 298.8px;
  width: 460.8px;
  margin: 2vh 0 0 0;
  overflow-y: scroll;
  border-radius: 7px;
  box-shadow: 4px 4px 0.4rem blueviolet, -4px -4px 0.4rem blue;
  padding-bottom: 2vh;
}

.listDiv {
  padding: 10px;
  margin: 2vh 2vw 0 2vw;
  border: 0.5px solid black;
  border-radius: 5px;
  box-shadow: -2px -2px 0.4em red;
  font-weight: bolder;
}

/* responsive UI is here */

@media (width<1440px){
  .App{
    transform: scale(0.8);
  }
}

@media (width<500px){
  .App{
    transform: scale(0.7, 1.6);
    margin-left: 20vw;
  }
}
@media (width<380px){
  .App{
    margin-top: 20vh;
    transform: scale(0.7, 1.6);
    margin-left: 30vw;
  }
}
@media (width<325px){
  .App{
    margin-top: 20vh;
    transform: scale(0.7, 1.6);
    margin-left: 30vw;
  }
}